@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');
.flex-space-btw {
  display: flex;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* reset styles */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
}
body {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
button:disabled {
  background: #b9b9b9;
  color: #3b3b3b;
  cursor: not-allowed;
}
/* display - structure & images */
.block {
  display: block;
}
.block-auto {
  display: block;
  margin: 0 auto;
}
.b-container {
  display: block;
  margin: 0 auto;
  width: 97%;
}
@media screen and (min-width: 481px) {
  .b-container {
    width: 94%;
  }
}
@media screen and (min-width: 769px) {
  .b-container {
    width: 88%;
  }
}
@media screen and (min-width: 1025px) {
  .b-container {
    width: 85%;
  }
}
.grid {
  display: grid;
}
.grid-auto-1-auto-row {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  height: 100%;
}
.flex {
  display: flex;
}
.flex-space-btw {
  display: flex;
  justify-content: space-between;
}
.flex-auto {
  display: flex;
  margin: 0 auto;
}
.flex-space-btw-auto {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-j-center {
  display: flex;
  justify-content: center;
}
.flex-a-center {
  display: flex;
  align-items: center;
}
.x-auto {
  overflow-x: auto;
}
.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.img-wrapper-rounded {
  /*round img-wrapper*/
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}
.img-default {
  max-width: 100%;
  height: auto;
}
/* text or bg color styles */
.error {
  color: #e40101;
}
.error-bold {
  color: #e40101;
  font-weight: bold;
}
/* btn color styles */
.btn-default {
  background: #2f80ed;
  color: #fefefe;
}
.btn-transparent {
  background: transparent;
  color: #2f80ed;
  border: 1px solid #2f80ed;
}
.btn-danger {
  background: #e40101;
  color: #fefefe;
}
