* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
}
body {
  margin: 0;
}
button {
  cursor: pointer;
}
button:disabled {
  background: #b9b9b9;
  color: #3b3b3b;
  cursor: not-allowed;
}
.error {
  color: red;
  font-weight: bold;
}
